//hero(front)page
@use"../base/mixins.scss";
.heroArea{
    display: flex;
    padding: 3rem 5rem;
    justify-content: space-between;
    align-items: center;
    @include mixins.responsive(xs){
        margin-left: 1rem;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &--title{
        font-size: 60px;
        font-weight: 800;
        text-transform: capitalize;
        color: #3d535f;
        @include mixins.responsive(xs){
            font-size: 2.5rem;
            font-weight: 700;
        }
    }
    h1{
        @include mixins.responsive(xs){
        font-size: 30px;
        }
    }
    p{
    //     font-size: 1.2rem;
    //     margin-top: 1rem;
    //     line-height: 1.4;
        @include mixins.responsive(xs){
            font-size: 13px;
            flex-wrap: 10%;
    //         line-height: 1;
    //         color: #f22020;
        }
    }
    // @include mixins.responsive(xs){
    //     flex-direction:column;
    //     padding: 4rem 2rem;
    // }
    
}
.imgbox{
    position: relative;
    width: 100%;
    display: flex;
    @include mixins.responsive(xs){
        margin-top: 1rem;
        margin-left: 0  ;
        width: 100%;
        right: 37%;

    }
}
.imgbox img{
        //Realtive
        position: relative;
        z-index: 2;
        width: 75%;
        margin-left: 5rem;
        padding: 2rem 1rem;
        @include mixins.responsive(xs){
            width: 100%;
            margin-top: 3rem;
        }

//         //absolute
//         padding: 2rem 2rem;
//         position: absolute;
//         z-index: 1;
//         width: 35%;
//         right: 12%;
//         top: 20%;
}
.imgbox #splash{
    //absolute
        position: absolute;
        width: 110%;
        right: -1%;
        top: -11%;
        z-index: -1;
        @include mixins.responsive(xs){
            width: 150%;
            margin-top: 2rem;
            right: -55%;
        }
        
        // animation: box-shape linear 5s infinite;
}


button{
    font-size: 130%;
    position: relative;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    margin-top:10px;
    margin-left: 120px;
    padding: 8px 10px;
    border-radius: 15px;
    color: #fff;
    background-color: #f26d20;
    border-style: none;
    cursor: pointer;
    
    &:hover{
        background-color: #f22020;
    }
    @include mixins.responsive(xs){
    margin-top: 1rem;
    margin-left: 20px;
    padding: 7px 5px;
    font-size: 100%;
    }
    &a{
        text-decoration: none;
    }
}

.bars{
@include mixins.responsive(md){
 display:none;
}
}